<div class="container-fluid mt-5">
	<div class="row">
        <div class="col-md-2"></div>
		<div class="col-md-8">
            <div class="row mt-5">
                <div class="col-md-3"></div>
                <div class="col-md-6"  style="background: rgba(0, 0, 0, 0.7);">
                    <h2 class="text-center text-white">Quizzes</h2>
                </div>
                <div class="col-md-3"></div>
            </div>
            <a class="btn btn-dark btn-block mt-5 p-3 text-white" [routerLink]="['quiz/add']">Add New Quiz</a>

			<table class="table table-bordered table-hover mt-2 text-white" style="background: rgba(0, 0, 0, 0.7);">
				<thead>
					<tr>
						<th>
							Id
						</th>
						<th>
							Name
						</th>
						<th>
							Created By
						</th>
                        <th>
							Attempts
						</th>
                        <th>
							Questions
						</th>
						<th>
							Active
						</th>
                        <th>
							Actions
						</th>
					</tr>
				</thead>
				<tbody *ngIf="!isLoading">
					<tr *ngFor="let quiz of quizzes">
						<td>
							{{quiz.id}}
						</td>
						<td>
							{{quiz.name}}
						</td>                        
						<td>
							{{quiz.created_by.name}}
						</td>
                        <td>
							{{quiz.attempts}}
						</td>
                        <td>
							{{quiz.questions.length}}
						</td>
						<td>
							{{quiz.is_Active}}
						</td>
                        <td class="d-flex justify-content-around">
                            <i class="fa fa-info-circle fa-2x" style="color:skyblue; cursor:pointer;" data-toggle="modal"  data-target="#myModal" (click)="setModalData(quiz.id)"></i>

                            <i class="fa fa-pencil-square-o fa-2x" style="color: skyblue; cursor:pointer;" aria-hidden="true" [routerLink]="['quiz/update/'+quiz.id]"></i>
                            <i class="fa fa-trash-o fa-2x" style="color:red; cursor: pointer; " aria-hidden="true" (click)="deleteQuiz(quiz.id)"></i>
                        </td>
					</tr>
					
				</tbody>
			</table>
		</div>
        <div class="col-md-2"></div>
	</div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color: black;">Attempt Details</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <table class="table table-striped table-hover">
                <thead >
                    <th style="color: black;">
                        Name
                    </th >
                    <th style="color: black;">
                        Status
                    </th>
                    <th style="color: black;">
                        Score
                    </th>
                    <th style="color: black;">
                        Taken On
                    </th>


                </thead>
                <tbody id="attempt_table_body">
                    <td id="attempt_name" style="color: black;">

                    </td>
                    <td id="attempt_status" style="color: black;">

                    </td>
                    <td id="attempt_score" style="color: black;">

                    </td>
                    <td id="attempt_on" style="color: black;">

                    </td>

                </tbody>
            </table>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>