<app-header></app-header>
<div class="container-fluid">
    
    <div class="row mt-5 mb-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center" style="background: rgba(39, 39, 39, 0.8);">
            <h1 class="h1" style="color: red;">ACCESS NOT ALLOWED</h1>
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr>
    <div class="row mt-5 mb-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center" >
            <button class="btn btn-block btn-warning" [routerLink]="['/loggedIn/'+type]"> GO BACK TO PORTAL </button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>